@using iSpeakWebApp.Controllers
@model iSpeakWebApp.Models.UserAccountsModel
@{
    Layout = null;
    ViewBag.Subtitle = "Reset Password";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Subtitle</title>
    @Html.Partial("Scripts")
</head>
<body class="bg-slate-800">
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content d-flex justify-content-center align-items-center">
                <!-- Login card -->
                @using (Html.BeginForm("ChangePassword", UserAccountsController.CONTROLLERNAME,
                    new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
                    new { @style = "width:350px", @class = "form-horizontal login-form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)
                    <div class="card mb-0">
                        <div class="card-body">
                            <h4 class="form-text text-center text-muted">@ViewBag.Subtitle</h4>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group form-group-feedback form-group-feedback-left mx-4 mt-3">
                                <input type="password" id="CurrentPassword" name="CurrentPassword" value="@ViewBag.CurrentPassword" class="form-control" placeholder="Current Password">
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                            </div>
                            <div class="form-group form-group-feedback form-group-feedback-left mx-4 mt-3">
                                <input type="password" id="NewPassword" name="NewPassword" value="@ViewBag.NewPassword" class="form-control" placeholder="New Password">
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                            </div>
                            <div class="form-group form-group-feedback form-group-feedback-left mx-4">
                                <input type="password" id="ConfirmPassword" name="ConfirmPassword" value="@ViewBag.ConfirmPassword" class="form-control" placeholder="Confirm Password">
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                            </div>
                            <div class="form-group mx-4">
                                <button type="submit" onclick="showLoadingSpinner()" class="btn btn-primary btn-block"><i class="icon-circle-right2 mr-2"></i>Submit</button>
                            </div>
                        </div>
                    </div>
                }
                <!-- /login card -->
            </div>
            <!-- /content area -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        $('form:not(.filter) :input:visible:enabled:first').select();
    });
</script>