@using iSpeakWebApp.Controllers
@model iSpeakWebApp.Models.UserAccountsModel
@{
    Layout = null;
    ViewBag.Subtitle = "Reset Password";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Subtitle</title>
    @Html.Partial("Scripts")
</head>
<body class="bg-slate-800">
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content d-flex justify-content-center align-items-center">
                <!-- Login card -->
                @using (Html.BeginForm("ChangePassword", UserAccountsController.CONTROLLERNAME,
                    new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
                    new { @style = "width:350px", @class = "form-horizontal login-form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)
                    <div class="card mb-0">
                        <div class="card-body mx-2">
                            <h4 class="form-text text-center text-muted">@ViewBag.Subtitle</h4>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group mb-0">
                                <label class="col-form-label pb-0 required">Current</label>
                                <div>
                                    <input type="password" id="CurrentPassword" name="CurrentPassword" value="@ViewBag.CurrentPassword" class="form-control" placeholder="Current Password" />
                                </div>
                            </div>

                            <div class="form-group mb-0">
                                <label class="col-form-label pb-0 required">New</label>
                                <div>
                                    <input type="password" id="NewPassword" name="NewPassword" value="@ViewBag.NewPassword" class="form-control" placeholder="New Password" />
                                </div>
                            </div>

                            <div class="form-group mb-0">
                                <label class="col-form-label pb-0 required">Confirm</label>
                                <div>
                                    <input type="password" id="ConfirmPassword" name="ConfirmPassword" value="@ViewBag.ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                                </div>
                            </div>

                            <div class="form-group mt-3 text-center">
                                <button type="submit" class="btn btn-primary"><i class="icon-circle-right2 mr-2"></i>Submit</button>
                                <a href='@Url.Action("Login", "UserAccounts")' class="btn btn-warning"><i class="icon-cross2 mr-2"></i>Cancel</a>
                            </div>
                        </div>
                    </div>
                }
                <!-- /login card -->
            </div>
            <!-- /content area -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        $('form:not(.filter) :input:visible:enabled:first').select();
        if ($('#CurrentPassword').val() != '')
            $('#NewPassword').select();
    });
</script>