@model IEnumerable<iSpeakWebApp.Models.LessonPackagesModel>

@{
    iSpeakWebApp.Models.UserAccountRolesModel access = iSpeakWebApp.Controllers.UserAccountsController.getUserAccess(Session);
    string ControllerName = "LessonPackages";
    ViewBag.SelectedNavigationMenu = "Settings";
    ViewBag.Title = "LESSON PACKAGES";
    ViewBag.Subtitle = "Index";
}

<div class="content-wrapper">
    <!-- Content area -->
    <div class="content">
        @using (Html.BeginForm("Index", ControllerName, FormMethod.Post))
        {
            <!-- Form inputs -->
            <div class="card animated bounceInLeft">
                <div class="card-header header-elements-inline pb-1">
                    <h5 class="card-title text-uppercase">@ViewBag.Title</h5>
                    <i class="icon-info22 text-primary ml-2 d-none" data-container="body" data-toggle="popover" data-placement="left" data-content="hidden"></i>
                </div>
                <div class="card-body">

                    <div class="row mx-0">
                        @if (access.LessonPackages_Add)
                        {
                            <div class="mr-2">
                                <label class="mb-0">&nbsp;</label>
                                <div><a href="javascript:void(0)" onclick="Action('Create', '@ControllerName')" class="btn btn-success"><i class="icon-plus22 mr-2"></i>CREATE</a></div>
                            </div>
                        }
                        <div class="row ml-0 mr-2" style="width:100px;">
                            <label class="mb-0">Keyword</label>
                            <div class="input-group">
                                <input type="text" name="FILTER_Keyword" id="FILTER_Keyword" class="form-control" />
                            </div>
                        </div>

                        <div class="row ml-0 mr-2">
                            <label class="mb-0">Language</label>
                            <div class="input-group">
                                @Html.DropDownList("FILTER_Languages_Id", ViewBag.Languages as SelectList, "ALL", new { @class = "select2", @style = "height:auto;" })
                            </div>
                        </div>

                        <div class="row ml-0 mr-2">
                            <label class="mb-0">Type</label>
                            <div class="input-group">
                                @Html.DropDownList("FILTER_LessonTypes_Id", ViewBag.LessonTypes as SelectList, "ALL", new { @class = "select2", @style = "height:auto;" })
                            </div>
                        </div>

                        <div class="row ml-0 mr-2">
                            <label class="mb-0">Active</label>
                            <div class="input-group">
                                <select id="FILTER_Active" name="FILTER_Active" class="custom-select">
                                    <option value="" selected>ALL</option>
                                    <option value="1">Active</option>
                                    <option value="0">Not Active</option>
                                </select>
                            </div>
                        </div>
                        <div class="ml-0 mr-2">
                            <label class="mb-0">&nbsp;</label>
                            <button type="submit" onclick="showLoadingSpinner()" class="btn btn-outline-primary form-control"><i class="icon-reload-alt mr-2"></i>LOAD</button>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover datatable">
                            <thead>
                                <tr>
                                    <th style="width:300px;">Package</th>
                                    <th style="width:100px;" class="text-right">@Html.DisplayNameFor(model => model.SessionHours)</th>
                                    <th style="width:140px;" class="text-right">@Html.DisplayNameFor(model => model.ExpirationMonth)</th>
                                    <th style="width:100px;" class="text-right">@Html.DisplayNameFor(model => model.Price)</th>
                                    <th class="non-sortable">@Html.DisplayNameFor(model => model.Notes)</th>
                                    <th class="non-searchable non-sortable" style="width:130px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="align-top">
                                                <div>@Html.DisplayFor(modelItem => item.Name)</div>
                                                <div>[@Html.DisplayFor(modelItem => item.Languages_Name)] @Html.DisplayFor(modelItem => item.LessonTypes_Name)</div>
                                            </td>
                                            <td class="align-top text-right">@Html.DisplayFor(modelItem => item.SessionHours)</td>
                                            <td class="align-top text-right">
                                                @if (item.IsClubSubscription)
                                                {
                                                    <span class="badge badge-warning mr-2" style="width:50px;">CLUB</span>
                                                }
                                                @Html.DisplayFor(modelItem => item.ExpirationMonth)
                                            </td>
                                            <td class="align-top text-right">@Html.DisplayFor(modelItem => item.Price)</td>
                                            <td class="align-top tablecellwrap">@Html.DisplayFor(modelItem => item.Notes)</td>
                                            <td>
                                                @if (item.Active)
                                                {
                                                    <div><span class="badge badge-success d-block mr-1" style="width:100px;">ACTIVE</span></div>
                                                }
                                                else
                                                {
                                                    <div><span class="badge badge-dark d-block mr-1" style="width:100px;">NOT ACTIVE</span></div>
                                                }
                                                @if (access.LessonPackages_Edit)
                                                {
                                                    <a href="javascript:void(0)" onclick="ActionWithId('@item.Id', 'Edit', '@ControllerName')">Edit</a> @:•
                                                    <a href="javascript:void(0)" onclick="Log('@item.Id')">Log</a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /form inputs -->
        }
    </div>
    <!-- /content area -->
</div>
