@model iSpeakWebApp.Models.SaleInvoicesModel

@{
    iSpeakWebApp.Models.UserAccountRolesModel access = iSpeakWebApp.Controllers.UserAccountsController.getUserAccess(Session);
    string ControllerName = "SaleInvoices";
    ViewBag.SelectedNavigationMenu = "Settings";
    ViewBag.Title = "SALE INVOICES";
    ViewBag.Subtitle = "Create";
}

<div class="content-wrapper">

    <!-- Content area -->
    <div class="content">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <!-- Form inputs -->
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title text-uppercase">@ViewBag.Title</h5>
                </div>
                <div class="card-body">
                    <fieldset class="mb-3">
                        <legend class="text-uppercase font-size-sm font-weight-bold">@ViewBag.Subtitle</legend>

                        <div class="row mx-0">
                            <div class="row ml-0 mr-2" style="width:100px;">
                                <label class="mb-0">&nbsp;</label>
                                <div class="input-group">
                                    @Html.LabelFor(model => model.Customer_UserAccounts_Id, htmlAttributes: new { @class = "col-form-label required" })
                                </div>
                            </div>

                            <div class="row ml-0 mr-2" style="width:200px;">
                                <label class="mb-0">&nbsp;</label>
                                <div class="input-group">
                                    <select class="form-control" id="Customer_UserAccounts_Id" name="Customer_UserAccounts_Id"></select>
                                    @Html.ValidationMessageFor(model => model.Customer_UserAccounts_Id, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="mr-2">
                                <label class="mb-0">&nbsp;</label>
                                <div><a href="javascript:void(0)" onclick="Action('Create', 'UserAccounts')" class="btn btn-success">ADD<i class="icon-plus22 ml-2"></i></a></div>
                            </div>
                        </div>
                        
                        <div>
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-reminders-tab" data-toggle="tab" href="#nav-reminders" role="tab" aria-controls="nav-reminders" aria-selected="true" onclick="document.activeElement.blur();">Reminders (<label id="ReminderCount"></label>)</a>
                                    <a class="nav-item nav-link" id="nav-birthdays-tab" data-toggle="tab" href="#nav-birthdays" role="tab" aria-controls="nav-birthdays" aria-selected="false" onclick="document.activeElement.blur();">Birthdays (<label id="BirthdayCount"></label>)</a>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-reminders" role="tabpanel" aria-labelledby="nav-reminders-tab">

                                </div>
                                <div class="tab-pane fade" id="nav-birthdays" role="tabpanel" aria-labelledby="nav-birthdays-tab">

                                </div>
                            </div>
                        </div>


                    </fieldset>

                    @if (access.SaleInvoices_Add)
                    {
                        <div>
                            <button type="submit" onclick="showLoadingSpinner()" class="btn btn-primary">Submit<i class="icon-paperplane ml-2"></i></button>
                            <a href="javascript:void(0)" onclick="Action('Index', '@ControllerName')" class="btn btn-warning">Cancel<i class="icon-cross2 ml-2"></i></a>
                        </div>
                    }
                </div>
            </div>
            <!-- /form inputs -->
        }
    </div>
    <!-- /content area -->

</div>

<script type="text/javascript">

    function applyLast() {
        AjaxGetDropdownlistData('Customer_UserAccounts_Id', 'GetDropDownListData', 'UserAccounts');
    }

</script>