@model iSpeakWebApp.Models.SaleInvoicesModel

@{
    iSpeakWebApp.Models.UserAccountRolesModel access = iSpeakWebApp.Controllers.UserAccountsController.getUserAccess(Session);
    string ControllerName = "SaleInvoices";
    ViewBag.SelectedNavigationMenu = "Settings";
    ViewBag.Title = "SALE INVOICES";
    ViewBag.Subtitle = "Create";
}

<div class="content-wrapper">

    <!-- Content area -->
    <div class="content">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <!-- Form inputs -->
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title text-uppercase">@ViewBag.Title</h5>
                </div>
                <div class="card-body">
                    <fieldset class="mb-3">
                        <legend class="text-uppercase font-size-sm font-weight-bold">@ViewBag.Subtitle</legend>

                        <div class="row mx-0">
                            <div class="row ml-0 mr-2" style="width:100px;">
                                <label class="mb-0">&nbsp;</label>
                                <div class="input-group">
                                    @Html.LabelFor(model => model.Customer_UserAccounts_Id, htmlAttributes: new { @class = "col-form-label required" })
                                </div>
                            </div>

                            <div class="row ml-0 mr-2" style="width:200px;">
                                <label class="mb-0">&nbsp;</label>
                                <div class="input-group">
                                    <select class="form-control" id="Customer_UserAccounts_Id" name="Customer_UserAccounts_Id"></select>
                                    @Html.ValidationMessageFor(model => model.Customer_UserAccounts_Id, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                    </fieldset>

                    @if (access.SaleInvoices_Add)
                    {
                        <div>
                            <button type="submit" class="btn btn-primary">Submit<i class="icon-paperplane ml-2"></i></button>
                            <a href="javascript:void(0)" onclick="Action('Index', '@ControllerName')" class="btn btn-warning">Cancel<i class="icon-cross2 ml-2"></i></a>
                        </div>
                    }
                </div>
            </div>
            <!-- /form inputs -->
        }
    </div>
    <!-- /content area -->

</div>

<script type="text/javascript">

    function applyLast() {
        AjaxGetDropdownlistData('Customer_UserAccounts_Id', 'GetDropDownListData', 'UserAccounts');
    }

</script>