@model iSpeakWebApp.Models.RemindersModel

@{
    iSpeakWebApp.Models.UserAccountRolesModel access = iSpeakWebApp.Controllers.UserAccountsController.getUserAccess(Session);
    ViewBag.SelectedNavigationMenu = "Home";
    ViewBag.Title = "Reminders";
    ViewBag.Subtitle = "Edit";
}

<div class="content-wrapper">

    <!-- Content area -->
    <div class="content">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Timestamp)
            @Html.HiddenFor(model => model.Branches_Id)
            @Html.HiddenFor(model => model.Description)
            <!-- Form inputs -->
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title text-uppercase">@ViewBag.Title</h5>
                </div>
                <div class="card-body">
                    <fieldset class="mb-3">
                        <legend class="text-uppercase font-size-sm font-weight-bold">@ViewBag.Subtitle</legend>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.Status_enumid, htmlAttributes: new { @class = "col-form-label col-lg-1 required" })
                            <div class="col-lg-2">
                                @Html.DropDownListFor(model => model.Status_enumid, EnumHelper.GetSelectList(typeof(EnumReminderStatuses)), "Pilih", new { @class = "form-control select2" })
                                @Html.ValidationMessageFor(model => model.Status_enumid, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-lg-1">Notes</label>
                            <div class="col-lg-2">
                                @Html.TextArea("Notes", string.Empty, 3, 50, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                    </fieldset>

                    @if (access.Reminders_Edit)
                    {
                        <div>
                            <button type="submit" onclick="showLoadingSpinner()" class="btn btn-primary"><i class="icon-paperplane mr-2"></i>Submit</button>
                            <a href="@Url.Action("Index", "Home")" class="btn btn-warning"><i class="icon-cross2 mr-2"></i>Cancel</a>
                        </div>
                    }
                </div>
            </div>
            <!-- /form inputs -->
        }
    </div>
    <!-- /content area -->

</div>


<script type="text/javascript">

    $(document).ready(function () {
        setDateRangePicker('Timestamp', '@string.Format("{0:yyyy/MM/dd}", Helper.getCurrentDateTime())');
    });

</script>
