@model IEnumerable<iSpeakWebApp.Models.ClubClassOnlineLinksModel>

@{
    iSpeakWebApp.Models.UserAccountRolesModel access = iSpeakWebApp.Controllers.UserAccountsController.getUserAccess(Session);
    string ControllerName = "ClubClassOnlineLinks";
    ViewBag.SelectedNavigationMenu = "Settings";
    ViewBag.Name = "CLUB CLASS ONLINE LINKS";
    ViewBag.SubName = "Index";
}

<div class="content-wrapper">
    <!-- Content area -->
    <div class="content">
        @using (Html.BeginForm("Index", ControllerName, FormMethod.Post))
        {
            <!-- Form inputs -->
            <div class="card animated bounceInLeft">
                <div class="card-header header-elements-inline pb-1">
                    <h5 class="card-Name text-uppercase">@ViewBag.Name</h5>
                    <i class="icon-info22 text-primary ml-2" data-container="body" data-toggle="popover" data-placement="left" data-content="Week: Period start date is set in Club Classes page"></i>
                </div>
                <div class="card-body">

                    <div class="row mx-0">
                        @if (access.ClubClassOnlineLinks_Add)
                        {
                            <div class="mr-2">
                                <label class="mb-0">&nbsp;</label>
                                <div><a href="javascript:void(0)" onclick="Action('Create','@ControllerName')" class="btn btn-success"><i class="icon-plus22 mr-2"></i>CREATE</a></div>
                            </div>
                        }

                        <div class="row ml-0 mr-2" style="width:100px;">
                            <label class="mb-0">Keyword</label>
                            <div class="input-group">
                                <input type="text" name="FILTER_Keyword" id="FILTER_Keyword" class="form-control" />
                            </div>
                        </div>

                        <div class="row ml-0 mr-2" style="width:300px;">
                            <label class="mb-0">Club Classes</label>
                            <div class="input-group">
                                @Html.DropDownList("FILTER_ClubClasses_Id", ViewBag.ClubClasses as SelectList, "ALL", new { @class = "form-control select2" })
                            </div>
                        </div>

                        <div class="row ml-0 mr-2">
                            <label class="mb-0">Active</label>
                            <div class="input-group">
                                <select id="FILTER_Active" name="FILTER_Active" class="custom-select">
                                    <option value="" selected>ALL</option>
                                    <option value="1">Active</option>
                                    <option value="0">Not Active</option>
                                </select>
                            </div>
                        </div>
                        <div class="ml-0 mr-2">
                            <label class="mb-0">&nbsp;</label>
                            <button type="submit" onclick="showLoadingSpinner()" class="btn btn-outline-primary form-control"><i class="icon-reload-alt mr-2"></i>LOAD</button>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover datatable">
                            <thead>
                                <tr>
                                    <th style="width:200px;">@Html.DisplayNameFor(model => model.ClubClasses_Id)</th>
                                    <th style="width:50px;" class="text-right">@Html.DisplayNameFor(model => model.WeekNo)</th>
                                    <th style="width:50px;" class="text-right">@Html.DisplayNameFor(model => model.DurationDays)</th>
                                    <th style="width:200px;">@Html.DisplayNameFor(model => model.Name)</th>
                                    <th>@Html.DisplayNameFor(model => model.OnlineLink)</th>
                                    <th class="non-sortable" style="width:100px;"></th>
                                    <th class="non-searchable non-sortable" style="width:100px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="align-top">@Html.DisplayFor(modelItem => item.ClubClasses_Name)</td>
                                            <td class="align-top text-right">@Html.DisplayFor(modelItem => item.WeekNo)</td>
                                            <td class="align-top text-right">@Html.DisplayFor(modelItem => item.DurationDays)</td>
                                            <td class="align-top">@Html.DisplayFor(modelItem => item.Name)</td>
                                            <td class="align-top">
                                                <a href="@Html.DisplayFor(modelItem => item.OnlineLink)" target="_blank">@Html.DisplayFor(modelItem => item.OnlineLink)</a>
                                                @if (!string.IsNullOrWhiteSpace(item.Notes))
                                                {
                                                    <div><strong>Notes:</strong> @Html.DisplayFor(modelItem => item.Notes)</div>
                                                }
                                            </td>
                                            <td class="align-top"><span class="badge badge-@(item.Active ? "success" : "dark") d-block" style="width:100px;">@(item.Active ? "" : "NOT") ACTIVE</span></td>
                                            <td class="align-top">
                                                @if (access.ClubClassOnlineLinks_Edit)
                                                {
                                                    <a href="javascript:void(0)" onclick="ActionWithId('@item.Id', 'Edit', '@ControllerName')">Edit</a> @:•
                                                    <a href="javascript:void(0)" onclick="Log('@item.Id')">Log</a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /form inputs -->
        }
    </div>
    <!-- /content area -->
</div>
