@model IEnumerable<iSpeakWebApp.Models.ClubSchedulesModel>
@{
    iSpeakWebApp.Models.UserAccountsModel userAccount = iSpeakWebApp.Controllers.UserAccountsController.getUserAccount(Session);
    iSpeakWebApp.Models.UserAccountRolesModel access = iSpeakWebApp.Controllers.UserAccountsController.getUserAccess(Session);
    ViewBag.SelectedNavigationMenu = "Home";
    ViewBag.Subtitle = "Dashboard";
}

<div class="content-wrapper">
    <!-- Content area -->
    <div class="content">
        <!-- Form inputs -->
        <div class="card animated bounceInLeft">
            <div class="card-body" style="min-height:400px;">
                @if (userAccount.RemainingClubSubscriptionDays > 0)
                {
                    <div class="card-header header-elements-inline pb-1">
                        <h5 class="card-title">
                            Terima kasih telah bergabung dengan The Language Club.
                        </h5>
                    </div>
                    <div class="card-header header-elements-inline pb-1">
                        <h5 class="card-title">
                            Membership Language Club anda aktif untuk
                            @if (userAccount.RemainingClubSubscriptionDays > 14)
                            {
                                <span class="badge badge-success"> @userAccount.RemainingClubSubscriptionDays </span>
                            }
                            else
                            {
                                <span class="badge badge-warning"> @userAccount.RemainingClubSubscriptionDays </span>
                            }
                            hari lagi.
                            @if (userAccount.RemainingClubSubscriptionDays <= 14)
                            {
                                <span>Silahkan kontak admin untuk memperpanjang membership.</span>
                            }
                        </h5>
                    </div>
                    <div class="card-body">
                        <br />
                        <div class="row mx-0 mb-1">
                            <div class="mr-2">
                                <div>
                                    <a href="@iSpeakWebApp.Controllers.SettingsController.get().ClubClassroomLink" class="btn btn-primary" target="_blank"><i class="icon-video-camera3 mr-2"></i>@(string.IsNullOrWhiteSpace(@iSpeakWebApp.Controllers.SettingsController.get().ClubClassroomLink) ? "CLASSROOM IS NOT CURRENTLY AVAILABLE" : "ZOOM LINK TO CLASSROOMS")</a>
                                    <label class="mb-0">Silahkan klik tombol ini untuk masuk ke kelas zoom</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mx-0 mb-1">
                            <div class="mr-2">
                                <div>
                                    <a href="@Url.Action("Index", "ClubSchedules", new { rss = 1 })" class="btn btn-primary"><i class="icon-list-unordered mr-2"></i>SCHEDULES</a>
                                    <label class="mb-0">Jadwal The Language Club</label>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @if (access.Reminders_View || access.Birthdays_View)
                {
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            @if (access.Reminders_View)
                            {
                                <a class="nav-item nav-link active" id="nav-reminders-tab" data-toggle="tab" href="#nav-reminders" role="tab" aria-controls="nav-reminders" aria-selected="true" onclick="document.activeElement.blur();">Reminders (<label id="ReminderCount"></label>)</a>
                            }
                            @if (access.Birthdays_View)
                            {
                                <a class="nav-item nav-link" id="nav-birthdays-tab" data-toggle="tab" href="#nav-birthdays" role="tab" aria-controls="nav-birthdays" aria-selected="false" onclick="document.activeElement.blur(); LoadBirthdays();">Birthdays (<label id="BirthdayCount"></label>)</a>
                            }
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        @if (access.Reminders_View)
                        {
                            <div class="tab-pane fade show active" id="nav-reminders" role="tabpanel" aria-labelledby="nav-reminders-tab">
                                @{Html.RenderAction("IndexPartial", "Reminders");}
                            </div>
                        }
                        @if (access.Birthdays_View)
                        {
                            <div class="tab-pane fade" id="nav-birthdays" role="tabpanel" aria-labelledby="nav-birthdays-tab">
                                @{Html.RenderAction("BirthdaysPartial", "UserAccounts");}
                            </div>
                        }
                    </div>
                }
                else if (true)
                {

                }
                else
                {
                    <label class="text-primary col-form-label col-lg-12 text-center mt-5"><h3>Welcome to iSpeak website</h3></label>
                }
            </div>
        </div>
        <!-- /form inputs -->
    </div>
    <!-- /content area -->
</div>

<script type="text/javascript">

    $(document).ready(function () {
        if ('@access.Reminders_View' == 'False') {
            $('#nav-birthdays-tab').tab('show');
        }
    });

    function UpdateReminderCount(value) {
        $('#ReminderCount').text(value);
    }

    function UpdateBirthdayCount(value) {
        $('#BirthdayCount').text(value);
    }

</script>