@model iSpeakWebApp.Models.UserAccountRolesModel

@{
    iSpeakWebApp.Models.UserAccountRolesModel access = iSpeakWebApp.Controllers.UserAccountsController.getUserAccess(Session);
    ViewBag.SelectedNavigationMenu = "Settings";
    ViewBag.Root = "ROLE ACCESS";
    ViewBag.Title = "Edit";
}

<div class="content-wrapper">

    <!-- Content area -->
    <div class="content">
        @using (Html.BeginForm())
        {
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)
                <!-- Form inputs -->
                <div class="card">
                    <div class="card-header header-elements-inline">
                        <h3 class="card-title">@ViewBag.Root</h3>
                    </div>
                    <div class="card-body">
                        <fieldset>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-form-label col-lg-1" })
                                <div class="col-lg-2">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <hr />

                            <label class="h5 mb-0">REMINDERS</label>
                            <div class="pl-0">
                                <div id="Reminders_Div">
                                    <button id="Reminders" type="button" class="btn mb-1 mr-1 px-1 icon-compose notesbutton" onclick="toggleNotes()"></button>
                                    <label id="Reminders_Label" class="col-form-label">@Model.Reminders_Notes</label>
                                </div>
                                <div id="Reminders_Edit" class="input-group d-none mb-1">
                                    <div class="input-group-prepend"><span class="input-group-text">Edit</span></div>
                                    @Html.EditorFor(model => model.Reminders_Notes, new { htmlAttributes = new { @class = "form-control", @placeholder = "Notes" } })
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-group-text">
                                    @Html.CheckBoxFor(model => model.Reminders_View)
                                </div>
                                <div class="input-group-append">
                                    @Html.LabelFor(model => model.Reminders_View, htmlAttributes: new { @class = "input-group-text mr-2" })
                                    <div class="input-group-text">
                                        @Html.CheckBoxFor(model => model.Reminders_Add)
                                    </div>
                                    @Html.LabelFor(model => model.Reminders_Add, htmlAttributes: new { @class = "input-group-text mr-2" })
                                    <div class="input-group-text">
                                        @Html.CheckBoxFor(model => model.Reminders_Edit)
                                    </div>
                                    @Html.LabelFor(model => model.Reminders_Edit, htmlAttributes: new { @class = "input-group-text mr-2" })
                                </div>
                            </div>

                            <hr />

                            <label class="h5 mb-0">USER ACCOUNTS</label>
                            <div class="pl-0">
                                <div id="UserAccounts_Div">
                                    <button id="UserAccounts" type="button" class="btn mb-1 mr-1 px-1 icon-compose notesbutton" onclick="toggleNotes()"></button>
                                    <label id="UserAccounts_Label" class="col-form-label">@Model.UserAccounts_Notes</label>
                                </div>
                                <div id="UserAccounts_Edit" class="input-group d-none mb-1">
                                    <div class="input-group-prepend"><span class="input-group-text">Edit</span></div>
                                    @Html.EditorFor(model => model.UserAccounts_Notes, new { htmlAttributes = new { @class = "form-control", @placeholder = "Notes" } })
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-group-text">
                                    @Html.CheckBoxFor(model => model.UserAccounts_View)
                                </div>
                                <div class="input-group-append">
                                    @Html.LabelFor(model => model.UserAccounts_View, htmlAttributes: new { @class = "input-group-text mr-2" })
                                    <div class="input-group-text">
                                        @Html.CheckBoxFor(model => model.UserAccounts_Add)
                                    </div>
                                    @Html.LabelFor(model => model.UserAccounts_Add, htmlAttributes: new { @class = "input-group-text mr-2" })
                                    <div class="input-group-text">
                                        @Html.CheckBoxFor(model => model.UserAccounts_Edit)
                                    </div>
                                    @Html.LabelFor(model => model.UserAccounts_Edit, htmlAttributes: new { @class = "input-group-text mr-2" })
                                </div>
                            </div>

                            <hr />

                            <label class="h5 mb-0">USER ACCOUNT ROLES</label>
                            <div class="pl-0">
                                <div id="UserAccountRoles_Div">
                                    <button id="UserAccountRoles" type="button" class="btn mb-1 mr-1 px-1 icon-compose notesbutton" onclick="toggleNotes()"></button>
                                    <label id="UserAccountRoles_Label" class="col-form-label">@Model.UserAccountRoles_Notes</label>
                                </div>
                                <div id="UserAccountRoles_Edit" class="input-group d-none mb-1">
                                    <div class="input-group-prepend"><span class="input-group-text">Edit</span></div>
                                    @Html.EditorFor(model => model.UserAccountRoles_Notes, new { htmlAttributes = new { @class = "form-control", @placeholder = "Notes" } })
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-group-text">
                                    @Html.CheckBoxFor(model => model.UserAccountRoles_View)
                                </div>
                                <div class="input-group-append">
                                    @Html.LabelFor(model => model.UserAccountRoles_View, htmlAttributes: new { @class = "input-group-text mr-2" })
                                    <div class="input-group-text">
                                        @Html.CheckBoxFor(model => model.UserAccountRoles_Add)
                                    </div>
                                    @Html.LabelFor(model => model.UserAccountRoles_Add, htmlAttributes: new { @class = "input-group-text mr-2" })
                                    <div class="input-group-text">
                                        @Html.CheckBoxFor(model => model.UserAccountRoles_Edit)
                                    </div>
                                    @Html.LabelFor(model => model.UserAccountRoles_Edit, htmlAttributes: new { @class = "input-group-text mr-2" })
                                </div>
                            </div>

                            <hr />

                            <label class="h5 mb-0">APPLICATION SETTINGS</label>
                            <div class="pl-0">
                                <div id="Settings_Div">
                                    <button id="Settings" type="button" class="btn mb-1 mr-1 px-1 icon-compose notesbutton" onclick="toggleNotes()"></button>
                                    <label id="Settings_Label" class="col-form-label">@Model.Settings_Notes</label>
                                </div>
                                <div id="Settings_Edit" class="input-group d-none mb-1">
                                    <div class="input-group-prepend"><span class="input-group-text">Edit</span></div>
                                    @Html.EditorFor(model => model.Settings_Notes, new { htmlAttributes = new { @class = "form-control", @placeholder = "Notes" } })
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-group-text">
                                    @Html.CheckBoxFor(model => model.Settings_View)
                                </div>
                                <div class="input-group-append">
                                    @Html.LabelFor(model => model.Settings_View, htmlAttributes: new { @class = "input-group-text mr-2" })
                                    <div class="input-group-text">
                                        @Html.CheckBoxFor(model => model.Settings_Edit)
                                    </div>
                                    @Html.LabelFor(model => model.Settings_Edit, htmlAttributes: new { @class = "input-group-text mr-2" })
                                </div>
                            </div>

                            <hr />

                            <label class="h5 mb-0">BRANCHES</label>
                            <div class="pl-0">
                                <div id="Branches_Div">
                                    <button id="Branches" type="button" class="btn mb-1 mr-1 px-1 icon-compose notesbutton" onclick="toggleNotes()"></button>
                                    <label id="Branches_Label" class="col-form-label">@Model.Branches_Notes</label>
                                </div>
                                <div id="Branches_Edit" class="input-group d-none mb-1">
                                    <div class="input-group-prepend"><span class="input-group-text">Edit</span></div>
                                    @Html.EditorFor(model => model.Branches_Notes, new { htmlAttributes = new { @class = "form-control", @placeholder = "Notes" } })
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-group-text">
                                    @Html.CheckBoxFor(model => model.Branches_View)
                                </div>
                                <div class="input-group-append">
                                    @Html.LabelFor(model => model.Branches_View, htmlAttributes: new { @class = "input-group-text mr-2" })
                                    <div class="input-group-text">
                                        @Html.CheckBoxFor(model => model.Branches_Add)
                                    </div>
                                    @Html.LabelFor(model => model.Branches_Add, htmlAttributes: new { @class = "input-group-text mr-2" })
                                    <div class="input-group-text">
                                        @Html.CheckBoxFor(model => model.Branches_Edit)
                                    </div>
                                    @Html.LabelFor(model => model.Branches_Edit, htmlAttributes: new { @class = "input-group-text mr-2" })
                                </div>
                            </div>

                            <hr />

                            <label class="h5 mb-0">PROMOTION EVENTS</label>
                            <div class="pl-0">
                                <div id="PromotionEvents_Div">
                                    <button id="PromotionEvents" type="button" class="btn mb-1 mr-1 px-1 icon-compose notesbutton" onclick="toggleNotes()"></button>
                                    <label id="PromotionEvents_Label" class="col-form-label">@Model.PromotionEvents_Notes</label>
                                </div>
                                <div id="PromotionEvents_Edit" class="input-group d-none mb-1">
                                    <div class="input-group-prepend"><span class="input-group-text">Edit</span></div>
                                    @Html.EditorFor(model => model.PromotionEvents_Notes, new { htmlAttributes = new { @class = "form-control", @placeholder = "Notes" } })
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-group-text">
                                    @Html.CheckBoxFor(model => model.PromotionEvents_View)
                                </div>
                                <div class="input-group-append">
                                    @Html.LabelFor(model => model.PromotionEvents_View, htmlAttributes: new { @class = "input-group-text mr-2" })
                                    <div class="input-group-text">
                                        @Html.CheckBoxFor(model => model.PromotionEvents_Add)
                                    </div>
                                    @Html.LabelFor(model => model.PromotionEvents_Add, htmlAttributes: new { @class = "input-group-text mr-2" })
                                    <div class="input-group-text">
                                        @Html.CheckBoxFor(model => model.PromotionEvents_Edit)
                                    </div>
                                    @Html.LabelFor(model => model.PromotionEvents_Edit, htmlAttributes: new { @class = "input-group-text mr-2" })
                                </div>
                            </div>

                            <hr />

                            <label class="h5 mb-0">PETTY CASH CATEGORIES</label>
                            <div class="pl-0">
                                <div id="PettyCashRecordsCategories_Div">
                                    <button id="PettyCashRecordsCategories" type="button" class="btn mb-1 mr-1 px-1 icon-compose notesbutton" onclick="toggleNotes()"></button>
                                    <label id="PettyCashRecordsCategories_Label" class="col-form-label">@Model.PettyCashRecordsCategories_Notes</label>
                                </div>
                                <div id="PettyCashRecordsCategories_Edit" class="input-group d-none mb-1">
                                    <div class="input-group-prepend"><span class="input-group-text">Edit</span></div>
                                    @Html.EditorFor(model => model.PettyCashRecordsCategories_Notes, new { htmlAttributes = new { @class = "form-control", @placeholder = "Notes" } })
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-group-text">
                                    @Html.CheckBoxFor(model => model.PettyCashRecordsCategories_View)
                                </div>
                                <div class="input-group-append">
                                    @Html.LabelFor(model => model.PettyCashRecordsCategories_View, htmlAttributes: new { @class = "input-group-text mr-2" })
                                    <div class="input-group-text">
                                        @Html.CheckBoxFor(model => model.PettyCashRecordsCategories_Add)
                                    </div>
                                    @Html.LabelFor(model => model.PettyCashRecordsCategories_Add, htmlAttributes: new { @class = "input-group-text mr-2" })
                                    <div class="input-group-text">
                                        @Html.CheckBoxFor(model => model.PettyCashRecordsCategories_Edit)
                                    </div>
                                    @Html.LabelFor(model => model.PettyCashRecordsCategories_Edit, htmlAttributes: new { @class = "input-group-text mr-2" })
                                </div>
                            </div>

                            <hr />

                            <label class="h5 mb-0">LANGUAGES</label>
                            <div class="pl-0">
                                <div id="Languages_Div">
                                    <button id="Languages" type="button" class="btn mb-1 mr-1 px-1 icon-compose notesbutton" onclick="toggleNotes()"></button>
                                    <label id="Languages_Label" class="col-form-label">@Model.Languages_Notes</label>
                                </div>
                                <div id="Languages_Edit" class="input-group d-none mb-1">
                                    <div class="input-group-prepend"><span class="input-group-text">Edit</span></div>
                                    @Html.EditorFor(model => model.Languages_Notes, new { htmlAttributes = new { @class = "form-control", @placeholder = "Notes" } })
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-group-text">
                                    @Html.CheckBoxFor(model => model.Languages_View)
                                </div>
                                <div class="input-group-append">
                                    @Html.LabelFor(model => model.Languages_View, htmlAttributes: new { @class = "input-group-text mr-2" })
                                    <div class="input-group-text">
                                        @Html.CheckBoxFor(model => model.Languages_Add)
                                    </div>
                                    @Html.LabelFor(model => model.Languages_Add, htmlAttributes: new { @class = "input-group-text mr-2" })
                                    <div class="input-group-text">
                                        @Html.CheckBoxFor(model => model.Languages_Edit)
                                    </div>
                                    @Html.LabelFor(model => model.Languages_Edit, htmlAttributes: new { @class = "input-group-text mr-2" })
                                </div>
                            </div>

                            <hr />

                            <label class="h5 mb-0">LESSON TYPES</label>
                            <div class="pl-0">
                                <div id="LessonTypes_Div">
                                    <button id="LessonTypes" type="button" class="btn mb-1 mr-1 px-1 icon-compose notesbutton" onclick="toggleNotes()"></button>
                                    <label id="LessonTypes_Label" class="col-form-label">@Model.LessonTypes_Notes</label>
                                </div>
                                <div id="LessonTypes_Edit" class="input-group d-none mb-1">
                                    <div class="input-group-prepend"><span class="input-group-text">Edit</span></div>
                                    @Html.EditorFor(model => model.LessonTypes_Notes, new { htmlAttributes = new { @class = "form-control", @placeholder = "Notes" } })
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-group-text">
                                    @Html.CheckBoxFor(model => model.LessonTypes_View)
                                </div>
                                <div class="input-group-append">
                                    @Html.LabelFor(model => model.LessonTypes_View, htmlAttributes: new { @class = "input-group-text mr-2" })
                                    <div class="input-group-text">
                                        @Html.CheckBoxFor(model => model.LessonTypes_Add)
                                    </div>
                                    @Html.LabelFor(model => model.LessonTypes_Add, htmlAttributes: new { @class = "input-group-text mr-2" })
                                    <div class="input-group-text">
                                        @Html.CheckBoxFor(model => model.LessonTypes_Edit)
                                    </div>
                                    @Html.LabelFor(model => model.LessonTypes_Edit, htmlAttributes: new { @class = "input-group-text mr-2" })
                                </div>
                            </div>

                            <hr />

                            <label class="h5 mb-0">LESSON PACKAGES</label>
                            <div class="pl-0">
                                <div id="LessonPackages_Div">
                                    <button id="LessonPackages" type="button" class="btn mb-1 mr-1 px-1 icon-compose notesbutton" onclick="toggleNotes()"></button>
                                    <label id="LessonPackages_Label" class="col-form-label">@Model.LessonPackages_Notes</label>
                                </div>
                                <div id="LessonPackages_Edit" class="input-group d-none mb-1">
                                    <div class="input-group-prepend"><span class="input-group-text">Edit</span></div>
                                    @Html.EditorFor(model => model.LessonPackages_Notes, new { htmlAttributes = new { @class = "form-control", @placeholder = "Notes" } })
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-group-text">
                                    @Html.CheckBoxFor(model => model.LessonPackages_View)
                                </div>
                                <div class="input-group-append">
                                    @Html.LabelFor(model => model.LessonPackages_View, htmlAttributes: new { @class = "input-group-text mr-2" })
                                    <div class="input-group-text">
                                        @Html.CheckBoxFor(model => model.LessonPackages_Add)
                                    </div>
                                    @Html.LabelFor(model => model.LessonPackages_Add, htmlAttributes: new { @class = "input-group-text mr-2" })
                                    <div class="input-group-text">
                                        @Html.CheckBoxFor(model => model.LessonPackages_Edit)
                                    </div>
                                    @Html.LabelFor(model => model.LessonPackages_Edit, htmlAttributes: new { @class = "input-group-text mr-2" })
                                </div>
                            </div>

                            <hr />

                            <label class="h5 mb-0">CONSIGNMENTS</label>
                            <div class="pl-0">
                                <div id="Consignments_Div">
                                    <button id="Consignments" type="button" class="btn mb-1 mr-1 px-1 icon-compose notesbutton" onclick="toggleNotes()"></button>
                                    <label id="Consignments_Label" class="col-form-label">@Model.Consignments_Notes</label>
                                </div>
                                <div id="Consignments_Edit" class="input-group d-none mb-1">
                                    <div class="input-group-prepend"><span class="input-group-text">Edit</span></div>
                                    @Html.EditorFor(model => model.Consignments_Notes, new { htmlAttributes = new { @class = "form-control", @placeholder = "Notes" } })
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-group-text">
                                    @Html.CheckBoxFor(model => model.Consignments_View)
                                </div>
                                <div class="input-group-append">
                                    @Html.LabelFor(model => model.Consignments_View, htmlAttributes: new { @class = "input-group-text mr-2" })
                                    <div class="input-group-text">
                                        @Html.CheckBoxFor(model => model.Consignments_Add)
                                    </div>
                                    @Html.LabelFor(model => model.Consignments_Add, htmlAttributes: new { @class = "input-group-text mr-2" })
                                    <div class="input-group-text">
                                        @Html.CheckBoxFor(model => model.Consignments_Edit)
                                    </div>
                                    @Html.LabelFor(model => model.Consignments_Edit, htmlAttributes: new { @class = "input-group-text mr-2" })
                                </div>
                            </div>

                            <hr />

                            <label class="h5 mb-0">VOUCHERS</label>
                            <div class="pl-0">
                                <div id="Vouchers_Div">
                                    <button id="Vouchers" type="button" class="btn mb-1 mr-1 px-1 icon-compose notesbutton" onclick="toggleNotes()"></button>
                                    <label id="Vouchers_Label" class="col-form-label">@Model.Vouchers_Notes</label>
                                </div>
                                <div id="Vouchers_Edit" class="input-group d-none mb-1">
                                    <div class="input-group-prepend"><span class="input-group-text">Edit</span></div>
                                    @Html.EditorFor(model => model.Vouchers_Notes, new { htmlAttributes = new { @class = "form-control", @placeholder = "Notes" } })
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-group-text">
                                    @Html.CheckBoxFor(model => model.Vouchers_View)
                                </div>
                                <div class="input-group-append">
                                    @Html.LabelFor(model => model.Vouchers_View, htmlAttributes: new { @class = "input-group-text mr-2" })
                                    <div class="input-group-text">
                                        @Html.CheckBoxFor(model => model.Vouchers_Add)
                                    </div>
                                    @Html.LabelFor(model => model.Vouchers_Add, htmlAttributes: new { @class = "input-group-text mr-2" })
                                    <div class="input-group-text">
                                        @Html.CheckBoxFor(model => model.Vouchers_Edit)
                                    </div>
                                    @Html.LabelFor(model => model.Vouchers_Edit, htmlAttributes: new { @class = "input-group-text mr-2" })
                                </div>
                            </div>

                            <hr />

                            <label class="h5 mb-0">SUPPLIERS</label>
                            <div class="pl-0">
                                <div id="Suppliers_Div">
                                    <button id="Suppliers" type="button" class="btn mb-1 mr-1 px-1 icon-compose notesbutton" onclick="toggleNotes()"></button>
                                    <label id="Suppliers_Label" class="col-form-label">@Model.Suppliers_Notes</label>
                                </div>
                                <div id="Suppliers_Edit" class="input-group d-none mb-1">
                                    <div class="input-group-prepend"><span class="input-group-text">Edit</span></div>
                                    @Html.EditorFor(model => model.Suppliers_Notes, new { htmlAttributes = new { @class = "form-control", @placeholder = "Notes" } })
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-group-text">
                                    @Html.CheckBoxFor(model => model.Suppliers_View)
                                </div>
                                <div class="input-group-append">
                                    @Html.LabelFor(model => model.Suppliers_View, htmlAttributes: new { @class = "input-group-text mr-2" })
                                    <div class="input-group-text">
                                        @Html.CheckBoxFor(model => model.Suppliers_Add)
                                    </div>
                                    @Html.LabelFor(model => model.Suppliers_Add, htmlAttributes: new { @class = "input-group-text mr-2" })
                                    <div class="input-group-text">
                                        @Html.CheckBoxFor(model => model.Suppliers_Edit)
                                    </div>
                                    @Html.LabelFor(model => model.Suppliers_Edit, htmlAttributes: new { @class = "input-group-text mr-2" })
                                </div>
                            </div>

                            <hr />

                            <label class="h5 mb-0">UNITS</label>
                            <div class="pl-0">
                                <div id="Units_Div">
                                    <button id="Units" type="button" class="btn mb-1 mr-1 px-1 icon-compose notesbutton" onclick="toggleNotes()"></button>
                                    <label id="Units_Label" class="col-form-label">@Model.Units_Notes</label>
                                </div>
                                <div id="Units_Edit" class="input-group d-none mb-1">
                                    <div class="input-group-prepend"><span class="input-group-text">Edit</span></div>
                                    @Html.EditorFor(model => model.Units_Notes, new { htmlAttributes = new { @class = "form-control", @placeholder = "Notes" } })
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-group-text">
                                    @Html.CheckBoxFor(model => model.Units_View)
                                </div>
                                <div class="input-group-append">
                                    @Html.LabelFor(model => model.Units_View, htmlAttributes: new { @class = "input-group-text mr-2" })
                                    <div class="input-group-text">
                                        @Html.CheckBoxFor(model => model.Units_Add)
                                    </div>
                                    @Html.LabelFor(model => model.Units_Add, htmlAttributes: new { @class = "input-group-text mr-2" })
                                    <div class="input-group-text">
                                        @Html.CheckBoxFor(model => model.Units_Edit)
                                    </div>
                                    @Html.LabelFor(model => model.Units_Edit, htmlAttributes: new { @class = "input-group-text mr-2" })
                                </div>
                            </div>

                            <hr />

                            <label class="h5 mb-0">EXPENSE CATEGORIES</label>
                            <div class="pl-0">
                                <div id="ExpenseCategories_Div">
                                    <button id="ExpenseCategories" type="button" class="btn mb-1 mr-1 px-1 icon-compose notesbutton" onclick="toggleNotes()"></button>
                                    <label id="ExpenseCategories_Label" class="col-form-label">@Model.ExpenseCategories_Notes</label>
                                </div>
                                <div id="ExpenseCategories_Edit" class="input-group d-none mb-1">
                                    <div class="input-group-prepend"><span class="input-group-text">Edit</span></div>
                                    @Html.EditorFor(model => model.ExpenseCategories_Notes, new { htmlAttributes = new { @class = "form-control", @placeholder = "Notes" } })
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-group-text">
                                    @Html.CheckBoxFor(model => model.ExpenseCategories_View)
                                </div>
                                <div class="input-group-append">
                                    @Html.LabelFor(model => model.ExpenseCategories_View, htmlAttributes: new { @class = "input-group-text mr-2" })
                                    <div class="input-group-text">
                                        @Html.CheckBoxFor(model => model.ExpenseCategories_Add)
                                    </div>
                                    @Html.LabelFor(model => model.ExpenseCategories_Add, htmlAttributes: new { @class = "input-group-text mr-2" })
                                    <div class="input-group-text">
                                        @Html.CheckBoxFor(model => model.ExpenseCategories_Edit)
                                    </div>
                                    @Html.LabelFor(model => model.ExpenseCategories_Edit, htmlAttributes: new { @class = "input-group-text mr-2" })
                                </div>
                            </div>

                            <hr />

                            <label class="h5 mb-0">SERVICES</label>
                            <div class="pl-0">
                                <div id="Services_Div">
                                    <button id="Services" type="button" class="btn mb-1 mr-1 px-1 icon-compose notesbutton" onclick="toggleNotes()"></button>
                                    <label id="Services_Label" class="col-form-label">@Model.Services_Notes</label>
                                </div>
                                <div id="Services_Edit" class="input-group d-none mb-1">
                                    <div class="input-group-prepend"><span class="input-group-text">Edit</span></div>
                                    @Html.EditorFor(model => model.Services_Notes, new { htmlAttributes = new { @class = "form-control", @placeholder = "Notes" } })
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-group-text">
                                    @Html.CheckBoxFor(model => model.Services_View)
                                </div>
                                <div class="input-group-append">
                                    @Html.LabelFor(model => model.Services_View, htmlAttributes: new { @class = "input-group-text mr-2" })
                                    <div class="input-group-text">
                                        @Html.CheckBoxFor(model => model.Services_Add)
                                    </div>
                                    @Html.LabelFor(model => model.Services_Add, htmlAttributes: new { @class = "input-group-text mr-2" })
                                    <div class="input-group-text">
                                        @Html.CheckBoxFor(model => model.Services_Edit)
                                    </div>
                                    @Html.LabelFor(model => model.Services_Edit, htmlAttributes: new { @class = "input-group-text mr-2" })
                                </div>
                            </div>

                            <hr />

                            <label class="h5 mb-0">PRODUCTS</label>
                            <div class="pl-0">
                                <div id="Products_Div">
                                    <button id="Products" type="button" class="btn mb-1 mr-1 px-1 icon-compose notesbutton" onclick="toggleNotes()"></button>
                                    <label id="Products_Label" class="col-form-label">@Model.Products_Notes</label>
                                </div>
                                <div id="Products_Edit" class="input-group d-none mb-1">
                                    <div class="input-group-prepend"><span class="input-group-text">Edit</span></div>
                                    @Html.EditorFor(model => model.Products_Notes, new { htmlAttributes = new { @class = "form-control", @placeholder = "Notes" } })
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-group-text">
                                    @Html.CheckBoxFor(model => model.Products_View)
                                </div>
                                <div class="input-group-append">
                                    @Html.LabelFor(model => model.Products_View, htmlAttributes: new { @class = "input-group-text mr-2" })
                                    <div class="input-group-text">
                                        @Html.CheckBoxFor(model => model.Products_Add)
                                    </div>
                                    @Html.LabelFor(model => model.Products_Add, htmlAttributes: new { @class = "input-group-text mr-2" })
                                    <div class="input-group-text">
                                        @Html.CheckBoxFor(model => model.Products_Edit)
                                    </div>
                                    @Html.LabelFor(model => model.Products_Edit, htmlAttributes: new { @class = "input-group-text mr-2" })
                                </div>
                            </div>

                            <hr />

                        </fieldset>

                        @if (access.UserAccountRoles_Edit)
                        {
                            <div id="submitDiv" class="mt-3">
                                <button type="submit" class="btn btn-primary">Submit<i class="icon-paperplane ml-2"></i></button>
                                <a href="@Url.Action("Index", "UserAccountRoles")" class="btn btn-warning">Cancel<i class="icon-cross2 ml-2"></i></a>
                            </div>

                            <div style="position:fixed; bottom:100px;right:30px;">
                                <button type="button" class="btn mb-1 mr-1 btn-lg fa-2x" style="width:70px;height:70px;" onclick="ScrollTo('submitDiv',1000); this.blur();">
                                    <span class="icon-arrow-down52 text-primary" style="font-size:28pt;"></span>
                                </button>
                            </div>
                        }
                    </div>
                </div>
                <!-- /form inputs -->
            }
        }
    </div>
    <!-- /content area -->
</div>

<script type="text/javascript">

    $(document).ready(function () {

    });

</script>