@model IEnumerable<iSpeakWebApp.Models.UserAccountRolesModel>

@{
    iSpeakWebApp.Models.UserAccountRolesModel access = iSpeakWebApp.Controllers.UserAccountsController.getUserAccess(Session);
    ViewBag.SelectedNavigationMenu = "Settings";
    ViewBag.Root = "Roles";
    ViewBag.Title = "Index";
}

<div class="content-wrapper">
    <!-- Content area -->
    <div class="content">
        <!-- Form inputs -->
        <div class="card animated bounceInLeft">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">@ViewBag.Root</h5>
            </div>
            <div class="card-body">
                @if (access.UserAccountRoles_Add)
                {
                    <div class="mr-2">
                        <a href="@Url.Action("Create", "UserAccountRoles")" class="btn btn-sm btn-success">Create<i class="icon-plus22 ml-2"></i></a>
                    </div>
                }
                <div class="table-responsive">
                    <table class="table table-hover datatable">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Name)</th>
                                <th class="non-searchable non-sortable"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td>
                                        @if (access.UserAccountRoles_Edit)
                                        {
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })@:•
                                        }
                                        <a href="javascript:void(0)" onclick="Log('@item.Id')">Log</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /form inputs -->
    </div>
    <!-- /content area -->
</div>

<script type="text/javascript">

    $(document).ready(function () {

    });
</script>