@model IEnumerable<iSpeakWebApp.Models.PayrollsModel>

@{
    iSpeakWebApp.Models.UserAccountRolesModel access = iSpeakWebApp.Controllers.UserAccountsController.getUserAccess(Session);
    string ControllerName = "PayrollPaymentItems";
    ViewBag.SelectedNavigationMenu = "Internal";
    ViewBag.Title = "PAYROLL";
    ViewBag.Subtitle = "Index";
}

<div class="content-wrapper">
    <!-- Content area -->
    <div class="content">
        @using (Html.BeginForm("Index", ControllerName, FormMethod.Post))
        {
            <input type="hidden" id="FILTER_DatePeriod" name="FILTER_DatePeriod" value="@ViewBag.FILTER_DatePeriod" />
            <!-- Form inputs -->
            <div class="card animated bounceInLeft">
                <div class="card-header header-elements-inline pb-1">
                    <h5 class="card-title text-uppercase">@ViewBag.Title</h5>
                </div>
                <div class="card-body">

                    <div class="row mx-0">
                        <div class="row ml-0 mr-2" style="width:300px;">
                            <label class="mb-0">Date Period</label>
                            <div class="input-group">
                                <div class="input-group-prepend" style="width:160px">
                                    <button type="button" class="btn btn-light" onclick="updateFILTER_DatePeriod_Month('previous','FILTER_DatePeriod','FILTER_DatePeriod_Month','FILTER_DatePeriod_Year')">&lt;</button>
                                    <select id="FILTER_DatePeriod_Month" class="form-control select2" onchange="updateFILTER_DatePeriod('FILTER_DatePeriod','FILTER_DatePeriod_Month','FILTER_DatePeriod_Year')">
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </div>
                                <button type="button" class="btn btn-light" onclick="updateFILTER_DatePeriod_Month('next','FILTER_DatePeriod','FILTER_DatePeriod_Month','FILTER_DatePeriod_Year')">&gt;</button>
                                <input id="FILTER_DatePeriod_Year" name="FILTER_DatePeriod_Year" type="number" class="form-control text-center positiveintegeronly period-year" value="@DateTime.UtcNow.Year" onchange="updateFILTER_DatePeriod('FILTER_DatePeriod','FILTER_DatePeriod_Month','FILTER_DatePeriod_Year')">
                            </div>
                        </div>

                        <div class="ml-0 mr-2">
                            <label class="mb-0">&nbsp;</label>
                            <button type="submit" id="LoadData" onclick="showLoadingSpinner()" class="btn btn-outline-primary form-control"><i class="icon-reload-alt mr-2"></i>LOAD</button>
                        </div>

                        <div class="ml-0 mr-2">
                            <label class="mb-0">&nbsp;</label>
                            <button type="button" id="AddManualItem" data-toggle='modal' data-target='#modal_manualitem' class="btn btn-info form-control"><i class="icon-plus22 mr-2"></i>ADD MANUAL</button>
                        </div>

                        <div class="ml-0 mr-2">
                            <label class="mb-0">&nbsp;</label>
                            <button type="button" id="GenerateFullTimePayroll" onclick="generateFullTimePayroll()" class="btn btn-primary form-control"><i class="icon-stack-text mr-2"></i>GENERATE FULL TIME PAYROLL</button>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover datatable">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Tutor_UserAccounts_Id_TEMP)</th>
                                    <th class="text-right" style="width:100px;">@Html.DisplayNameFor(model => model.TotalHours)</th>
                                    <th class="text-right" style="width:100px;">@Html.DisplayNameFor(model => model.PayableAmount)</th>
                                    <th class="text-right" style="width:100px;">@Html.DisplayNameFor(model => model.DueAmount)</th>
                                    <th style="width:100px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Tutor_UserAccounts_FullName)</td>
                                            <td class="text-right">@Html.DisplayFor(modelItem => item.TotalHours)</td>
                                            <td class="text-right">@Html.DisplayFor(modelItem => item.PayableAmount)</td>
                                            <td class="text-right">@Html.DisplayFor(modelItem => item.DueAmount)</td>
                                            <td><a href="javascript:void(0)" onclick="GetDetails('@item.Tutor_UserAccounts_Id_TEMP', '@item.Tutor_UserAccounts_FullName')">Details</a></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <!-- /form inputs -->
        }

        <!-- Payment form modal -->
        <div id="modal_payment" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-success">
                        <h6 class="modal-title">PAYMENT</h6>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <form action="#" class="form-horizontal">
                        <div class="modal-body">
                            <div style="display: none">
                                <input class="form-control" id="modal_payment-UserAccounts_Id" />
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-2">Employee</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="modal_payment-UserAccounts_Fullname" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-2">Amount</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="modal_payment-Amount" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-2">Date</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <input id="modal_payment-Timestamp" type="datetime" class="form-control daterange-picker" />
                                        <span class="input-group-append">
                                            <span class="input-group-text"><i class="icon-calendar"></i></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-2">Notes</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" id="modal_payment-Notes" rows="2" placeholder="Notes"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button id="modal_payment-submit" type="button" class="btn bg-success" onclick="Payment()">Submit</button>
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /payment form modal -->

        <!-- Manual payroll item form modal -->
        <div id="modal_manualitem" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-success">
                        <h6 class="modal-title">MANUAL PAYROLL ITEM</h6>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <form action="#" class="form-horizontal">
                        <div class="modal-body">
                            <div style="display: none">
                                <input class="form-control" id="modal_manualitem-UserAccounts_Id" />
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-2">Date</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <input id="modal_manualitem-Timestamp" type="datetime" class="form-control daterange-picker" />
                                        <span class="input-group-append">
                                            <span class="input-group-text"><i class="icon-calendar"></i></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-2">Amount</label>
                                <div class="col-sm-4">
                                    <input class="form-control positiveintegeronly" id="modal_manualitem-Amount" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-2">Employee</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="UserAccounts_Id" name="UserAccounts_Id"></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-2">Description</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" id="modal_manualitem-Description" rows="2" placeholder="Description"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button id="modal_manualitem-submit" type="button" class="btn bg-success" onclick="ManualItem()">Submit</button>
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /manual payroll form modal -->

    </div>
    <!-- /content area -->
</div>


<script type="text/javascript">

    $(document).ready(function () {
    });

    function UpdateApproval(control, id) {
        AjaxUpdate('Update_Approval', '@ControllerName', id, control.checked);
    }

    function applyLast() {
        AjaxGetDropdownlistData('UserAccounts_Id', 'GetDropDownListData', 'UserAccounts');
        setDatePeriodFilter('FILTER_DatePeriod', 'FILTER_DatePeriod_Month', 'FILTER_DatePeriod_Year', '@string.Format("{0:MM/dd/yyyy}", ViewBag.FILTER_DatePeriod ?? DateTime.Now)');
    }

    function generateFullTimePayroll() {
        AjaxExecute('GenerateFullTimePayroll', '@ControllerName', getValueString('FILTER_DatePeriod'), null, function () { $('#LoadData').trigger('click'); });
    }

    // MANUAL PAYROLL ITEM =========================================================================================================================================

    function ManualItem() {
        if (!event.detail || event.detail == 1) {
            if (getValueString('modal_manualitem-Amount') == '') {
            showMessage('Please provide amount', 'modal_manualitem-Amount');
            } else if (getDDLSelectedValue('UserAccounts_Id') == null) {
                showMessage('Please select employee', 'UserAccounts_Id');
            } else if (getValueString('modal_manualitem-Description') == '') {
                showMessage('Please provide description', 'modal_manualitem-Description');
            }
            else {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Create", "PayrollPaymentItems")',
                    data: {
                        UserAccounts_Id: getDDLSelectedValue('UserAccounts_Id'),
                        Description: getValueString('modal_manualitem-Description'),
                        Timestamp: getValueString('modal_manualitem-Timestamp'),
                        Amount: getValueFloat('modal_manualitem-Amount')
                    },
                    success: function (data) {
                        $('#LoadData').trigger('click');
                    }, //end success
                    error: function (data) {
                        showMessage("ERROR: " + data.responseText);
                    } //end error
                }); //end ajax
            }
        }
    }

    // PAYMENT =====================================================================================================================================================

    function Payment() {
        if (!event.detail || event.detail == 1) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Create", "PayrollPayments")',
                data: {
                    UserAccounts_Id: $('modal_payment-UserAccounts_Id').val(),
                    Notes: $('#modal_payment-Notes').val(),
                    Timestamp: getValueString('modal_payment-Timestamp'),
                    Amount: getValueFloat('modal_payment-Amount'),
                    DatePeriod: getValueString('FILTER_DatePeriod'),
                },
                success: function (data) {
                    $('#LoadData').trigger('click');
                }, //end success
                error: function (data) {
                    showMessage("ERROR: " + data.responseText);
                } //end error
            }); //end ajax
        }
    }

    $('#modal_payment').on('shown.bs.modal', function () {
        $('#modal_payment-Notes').focus();
    })

    function ClosePayrollItemsDialog(id, name, amount) {
        $('.PayrollItemsDialog').modal('hide');
        $('#modal_payment-UserAccounts_Id').val(id);
        $('#modal_payment-UserAccounts_Fullname').val(name);
        $('#modal_payment-Amount').val(formatN0(amount));
        $('#modal_payment-Notes').val('');
    }

    function GetDetails(id, title) {
        var url = '@Url.Action("GetDetails", "PayrollPaymentItems")';
        $.ajax({
            type: "POST", url: url, data: { id: id, DatePeriod: getValueString('FILTER_DatePeriod') },
            success: function (data) { bootbox.dialog({ backdrop: true, onEscape: true, title: title, size: 'large', message: data.content, className:'PayrollItemsDialog' }); },
            error: function (result) { bootbox.alert({ backdrop: true, message: "Error " + result }); }
        });
    }

</script>