@model IEnumerable<iSpeakWebApp.Models.TutorStudentSchedulesModel>

@{
    iSpeakWebApp.Models.UserAccountRolesModel access = iSpeakWebApp.Controllers.UserAccountsController.getUserAccess(Session);
    string ControllerName = "TutorStudentSchedules";
    ViewBag.SelectedNavigationMenu = "Schedules";
    ViewBag.Title = "STUDENT SCHEDULES";
    ViewBag.Subtitle = "Index";

    List<iSpeakWebApp.Models.LanguagesModel> Languages = iSpeakWebApp.Controllers.LanguagesController.get();
    string[] badgeColors = {
        "badge-primary", "badge-secondary", "badge-info", "badge-success", "badge-dark", "badge-warning", "badge-danger", "badge-light",
        "badge-primary", "badge-secondary", "badge-info", "badge-success", "badge-dark", "badge-warning", "badge-danger", "badge-light",
        "badge-primary", "badge-secondary", "badge-info", "badge-success", "badge-dark", "badge-warning", "badge-danger", "badge-light"
    };
}

<div class="content-wrapper">
    <!-- Content area -->
    <div class="content">
        @using (Html.BeginForm("Index", ControllerName, FormMethod.Post))
        {
            <!-- Form inputs -->
            <div class="card animated bounceInLeft">
                <div class="card-header header-elements-inline pb-1">
                    <h5 class="card-title text-uppercase">@ViewBag.Title</h5>
                </div>
                <div class="card-body">

                    <div class="row mx-0">
                        @if (access.TutorStudentSchedules_Add)
                        {
                            <div class="mr-2">
                                <label class="mb-0">&nbsp;</label>
                                <div><a href="javascript:void(0)" onclick="Action('Create','@ControllerName')" class="btn btn-success"><i class="icon-plus22 mr-2"></i>CREATE</a></div>
                            </div>
                        }

                        <div class="row ml-0 mr-2" style="width:100px;">
                            <label class="mb-0">Keyword</label>
                            <div class="input-group">
                                <input type="text" name="FILTER_Keyword" id="FILTER_Keyword" class="form-control" />
                            </div>
                        </div>

                        <div class="row ml-0 mr-2">
                            <label class="mb-0">Active</label>
                            <div class="input-group">
                                <select id="FILTER_Active" name="FILTER_Active" class="custom-select">
                                    <option value="" selected>ALL</option>
                                    <option value="1">Active</option>
                                    <option value="0">Not Active</option>
                                </select>
                            </div>
                        </div>
                        <div class="ml-0 mr-2">
                            <label class="mb-0">&nbsp;</label>
                            <button id="LoadData" type="submit" onclick="showLoadingSpinner()" class="btn btn-outline-primary form-control"><i class="icon-reload-alt mr-2"></i>LOAD</button>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover datatable">
                            <thead>
                                <tr>
                                    <th style="width:300px;">@Html.DisplayNameFor(model => model.Student_UserAccounts_Id)</th>
                                    <th style="width:200px;">@Html.DisplayNameFor(model => model.SaleInvoiceItems_Id)</th>
                                    <th style="width:200px;">Schedule</th>
                                    <th class="non-sortable">@Html.DisplayNameFor(model => model.Notes)</th>
                                    <th class="non-searchable non-sortable" style="width:120px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="align-top">
                                                <div>@Html.ActionLink(item.Student_UserAccounts_Name, "Index", "UserAccounts", new { FILTER_Keyword = @item.Student_UserAccounts_No }, new { @target = "_blank" })</div>
                                                <div>Tutor: @Html.ActionLink(item.Tutor_UserAccounts_Name, "Index", "UserAccounts", new { FILTER_Keyword = @item.Tutor_UserAccounts_No }, new { @target = "_blank" })</div>
                                            </td>
                                            <td class="align-top">
                                                <div>@Html.ActionLink(item.SaleInvoices_No, "Index", "SaleInvoices", new { FILTER_Keyword = @item.SaleInvoices_No }, new { @target = "_blank" }): @item.Languages_Name</div>
                                                <div>Remaining: @item.SessionHours_Remaining hrs</div>
                                            </td>
                                            <td class="align-top">
                                                @Html.DisplayFor(modelItem => item.DayOfWeek), @Html.DisplayFor(modelItem => item.StartTime) - @Html.DisplayFor(modelItem => item.EndTime)
                                            </td>
                                            <td class="align-top tablecellwrap">@Html.DisplayFor(modelItem => item.Notes)</td>
                                            <td class="align-top">
                                                @if (access.TutorStudentSchedules_Edit)
                                                {
                                                    <a href="javascript:void(0)" onclick="Delete('@item.Id')">DELETE</a> @:•
                                                }
                                                <a href="javascript:void(0)" onclick="Log('@item.Id')">Log</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /form inputs -->
        }
    </div>
    <!-- /content area -->
</div>

<script type="text/javascript">

    $(document).ready(function () {

    });

    function applyLast() {
    }

    function Delete(id) {

        if (confirm("Confirm delete schedule?")) {
            showLoadingSpinner();
            AjaxUpdate('Ajax_Delete', '@ControllerName', id, function () {
                setTimeout(function () { performClickButton('LoadData'); }, 1000);
            });
        }
    }

</script>
