@using iSpeakWebApp.Controllers
@{
    iSpeakWebApp.Models.UserAccountRolesModel access = iSpeakWebApp.Controllers.UserAccountsController.getUserAccess(Session);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@Helper.COMPANYNAME</title>
    @Html.Partial("Scripts")
</head>
<body>
    <!-- Main navbar ----------------------------------------------------------------------------------------------------------------------------------->
    <div class="navbar navbar-expand-md navbar-dark">
        <div class="d-md-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-tree5"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-mobile">
            @*<span class="navbar-text ml-md-3 mr-md-auto h1 my-0 py-1">@Helper.COMPANYNAME</span>*@
            <img src="@Helper.getImageUrl("LogoWithBorder.png", Request, Server)" class="navbar-text ml-md-0 mr-md-auto h1 my-0 py-0" style="width:110px;" onclick="Action('LandingPage','LandingPage')" />
            <span class="navbar-text">
            </span>
            <span class="navbar-text" style="width:120px;">
                @Html.DropDownList("BranchId", UserAccountsController.getDDLBranches(Session) as SelectList, new { @class = "select2", @onchange = "updateActiveBranch()" })
            </span>
            <ul class="navbar-nav">
                <li class="nav-item dropdown dropdown-user">
                    <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                        <img src="@Helper.getImageUrl("profile.png", Request, Server)" class="rounded-circle" alt="">
                        <span>@UserAccountsController.getUserAccount(Session).Fullname</span>
                        @*<span>@UserAccountsController.getUserAccount(Session).Fullname.Split(' ')[0]</span>*@
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="@Url.Action("ChangePassword", UserAccountsController.CONTROLLERNAME)" class="dropdown-item"><i class="icon-lock2"></i>Change Password</a>
                        <a href="@Url.Action("LogOff", UserAccountsController.CONTROLLERNAME)" class="dropdown-item"><i class="icon-switch2"></i>Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- /Main navbar ---------------------------------------------------------------------------------------------------------------------------------->
    <!-- Secondary navbar ------------------------------------------------------------------------------------------------------------------------------>
    <div class="navbar navbar-expand-md navbar-light">
        <div class="text-center d-md-none w-100">
            <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-navigation">
                <i class="icon-unfold mr-2"></i>
                Main Menu
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-navigation">
            <ul class="navbar-nav">
                <li id="Menu_Home" class="nav-item">
                    <a href="@Url.Action("Index", "Home", new { rss=1 })" class="navbar-nav-link">
                        <i class="icon-home4 mr-2"></i>Dashboard
                    </a>
                </li>
                <li id="Menu_Sales" class="nav-item dropdown">
                    <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-list3 mr-2"></i>
                        Sales
                    </a>
                    <div class="dropdown-menu">
                        @if (access.SaleInvoices_View)
                        {
                            <a href="@Url.Action("Index", "SaleInvoices", new { rss=1 })" class="dropdown-item">Invoices</a>
                        }
                        @if (access.Payments_View)
                        {
                            <a href="@Url.Action("Index", "Payments", new { rss=1 })" class="dropdown-item">Payments</a>
                        }
                        @if (false)
                        {
                            <a href="@Url.Action("Index", "SaleReturns", new { rss=1 })" class="dropdown-item">Returns</a>
                        }
                    </div>
                </li>
                <li id="Menu_Schedules" class="nav-item dropdown">
                    <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-notebook mr-2"></i>
                        Schedules
                    </a>
                    <div class="dropdown-menu">
                        @if (false)
                        {
                            <a href="@Url.Action("Search", "Schedules", new { rss=1 })" class="dropdown-item">Search</a>
                        }
                        @if (false)
                        {
                            <a href="@Url.Action("TutorIndex", "Schedules", new { rss=1 })" class="dropdown-item">Tutor</a>
                        }
                        @if (false)
                        {
                            <a href="@Url.Action("StudentIndex", "Schedules", new { rss=1 })" class="dropdown-item">Student</a>
                        }
                    </div>
                </li>
                @if (access.LessonSessions_View)
                {
                    <li id="Menu_Sessions" class="nav-item">
                        <a href="@Url.Action("Index", "LessonSessions", new { rss=1 })" class="navbar-nav-link">
                            <i class="icon-meter2 mr-2"></i>
                            Sessions
                        </a>
                    </li>
                }
                @if (access.Inventory_View)
                {
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Inventory", new { rss=1 })" class="navbar-nav-link">
                            <i class="icon-clipboard6 mr-2"></i>
                            Inventory
                        </a>
                    </li>
                }

                @if (access.PettyCashRecords_View)
                {
                    <li id="Menu_PettyCashRecords" class="nav-item dropdown">
                        <a href="@Url.Action("Index", "PettyCashRecords", new { rss=1 })" class="navbar-nav-link">
                            <i class="icon-drawer mr-2"></i>
                            Petty Cash
                        </a>
                    </li>
                }
                <li id="Menu_Internal" class="nav-item dropdown">
                    <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-stats-bars2 mr-2"></i>
                        Internal
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-submenu">
                            <a href="#" class="dropdown-item dropdown-toggle">Payroll</a>
                            <div class="dropdown-menu">
                                @if (access.HourlyRates_View)
                                {
                                    <a href="@Url.Action("Index", "HourlyRates", new { rss=1 })" class="dropdown-item">Pay Rates</a>
                                }
                                @if (access.PayrollPayments_View)
                                {
                                    <a href="@Url.Action("Index", "PayrollPaymentItems", new { rss=1 })" class="dropdown-item">Payroll</a>
                                    <a href="@Url.Action("Index", "PayrollPayments", new { rss=1 })" class="dropdown-item">Payments</a>
                                }
                            </div>
                        </div>
                        @if (false)
                        {
                            <a href="@Url.Action("Index", "Expenses", new { rss=1 })" class="dropdown-item">Expenses</a>
                        }
                        @if (false)
                        {
                            <a href="@Url.Action("NewStudent", "Reports", new { rss=1 })" class="dropdown-item">New Student</a>
                        }
                        @if (false)
                        {
                            <a href="@Url.Action("ProfitLoss", "Reports", new { rss=1 })" class="dropdown-item">Profit &amp; Loss</a>
                        }
                        @if (false)
                        {
                            <a href="@Url.Action("SendEmails", "Reports", new { rss=1 })" class="dropdown-item">Send Emails</a>
                        }
                    </div>
                </li>
                <li id="Menu_Settings" class="nav-item dropdown">
                    <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-gear mr-2"></i>Settings
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-submenu">
                            <a href="#" class="dropdown-item dropdown-toggle">Inventory</a>
                            <div class="dropdown-menu">
                                @if (access.Suppliers_View)
                                {
                                    <a href="@Url.Action("Index", "Suppliers", new { rss=1 })" class="dropdown-item">Suppliers</a>
                                }
                                @if (access.Products_View)
                                {
                                    <a href="@Url.Action("Index", "Products", new { rss=1 })" class="dropdown-item">Products</a>
                                }
                                @if (access.Units_View)
                                {
                                    <a href="@Url.Action("Index", "Units", new { rss=1 })" class="dropdown-item">Units</a>
                                }
                            </div>
                        </div>
                        <div class="dropdown-submenu">
                            <a href="#" class="dropdown-item dropdown-toggle">Lessons</a>
                            <div class="dropdown-menu">
                                @if (access.Languages_View)
                                {
                                    <a href="@Url.Action("Index", "Languages", new { rss = 1 })" class="dropdown-item">Languages</a>
                                }
                                @if (access.LessonTypes_View)
                                {
                                    <a href="@Url.Action("Index", "LessonTypes", new { rss=1 })" class="dropdown-item">Types</a>
                                }
                                @if (access.LessonPackages_View)
                                {
                                    <a href="@Url.Action("Index", "LessonPackages", new { rss=1 })" class="dropdown-item">Packages</a>
                                }
                            </div>
                        </div>
                        @if (access.ExpenseCategories_View)
                        {
                            <a href="@Url.Action("Index", "ExpenseCategories", new { rss=1 })" class="dropdown-item">Expense Categories</a>
                        }
                        @if (access.Consignments_View)
                        {
                            <a href="@Url.Action("Index", "Consignments", new { rss=1 })" class="dropdown-item">Consignments</a>
                        }
                        @if (access.Vouchers_View)
                        {
                            <a href="@Url.Action("Index", "Vouchers", new { rss=1 })" class="dropdown-item">Vouchers</a>
                        }
                        @if (access.Services_View)
                        {
                            <a href="@Url.Action("Index", "Services", new { rss=1 })" class="dropdown-item">Services</a>
                        }
                        @if (access.PettyCashRecordsCategories_View)
                        {
                            <a href="@Url.Action("Index", "PettyCashRecordsCategories", new { rss=1 })" class="dropdown-item">Petty Cash Categories</a>
                        }
                        @if (access.PromotionEvents_View)
                        {
                            <a href="@Url.Action("Index", "PromotionEvents", new { rss = 1 })" class="dropdown-item">Promotion Events</a>
                        }
                        @if (access.UserAccountRoles_View)
                        {
                            <a href="@Url.Action("Index", "UserAccountRoles", new { rss=1 })" class="dropdown-item">User Roles</a>
                        }
                        @if (access.Branches_View)
                        {
                            <a href="@Url.Action("Index", "Branches", new { rss=1 })" class="dropdown-item">Branches</a>
                        }
                        @if (access.Settings_View)
                        {
                            <a href="@Url.Action("Edit", "Settings", new { rss = 1 })" class="dropdown-item">Application Settings</a>
                        }
                    </div>
                </li>
                @if (access.UserAccounts_View)
                {
                    <li id="Menu_Accounts" class="nav-item dropdown">
                        <a href="@Url.Action("Index", "UserAccounts", new { rss=1 })" class="navbar-nav-link">
                            <i class="icon-users2 mr-2"></i>
                            Accounts
                        </a>
                    </li>
                }
                @if (false)
                {
                    <li class="nav-item dropdown">
                        <a href="@Url.Action("Index", "Files", new { rss=1 })" class="navbar-nav-link">
                            <i class="icon-file-upload2 mr-2"></i>
                            Files
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <!-- /Secondary navbar ----------------------------------------------------------------------------------------------------------------------------->
    <!-- Page content ---------------------------------------------------------------------------------------------------------------------------------->
    <div class="page-content">
        <!-- Main content -->
        @RenderBody()
        <!-- /main content -->
    </div>
    <!-- /Page content --------------------------------------------------------------------------------------------------------------------------------->
    <!-- Footer ---------------------------------------------------------------------------------------------------------------------------------------->
    <div class="navbar navbar-expand-lg navbar-light">
        <div class="text-center d-lg-none w-100">
            <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                <i class="icon-unfold mr-2"></i>
                Footer
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-footer">
            <span class="navbar-text">
                &copy; @DateTime.UtcNow.Year - @Helper.COMPANYNAME
            </span>
        </div>
        <div class="mt-2">
            @*<span class="badge badge-primary ml-2 px-2">
                    <a href='@LIBUtil.Util.getApplicationPath(Request, "/User Manual - Payroll and Reimbursement.pdf")' class="text-white" target="_blank">MANUAL</a>
                </span>*@
            <span class="badge badge-success ml-2">@Helper.APP_VERSION</span>
        </div>
    </div>
    <!-- /Footer --------------------------------------------------------------------------------------------------------------------------------------->

</body>
</html>

@Html.Partial("Javascripts")

<script type="text/javascript">

    function updateActiveBranch() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateActiveBranch", "UserAccounts")',
            data: {
                BranchId: $('#BranchId').val(),
                returnUrl: window.location.pathname
            },
            error: function (result) {
                bootbox.alert({ backdrop: true, message: "Error " + result });
            } //end error
        }); //end ajax
    }

</script>

<!--================================================================================================================================================================
FILTERING
=================================================================================================================================================================-->

<input type="hidden" id="returnurl" name="returnurl" value="@ViewBag.returnurl" />
<input type="hidden" id="FILTER_Keyword" name="FILTER_Keyword" value="@ViewBag.FILTER_Keyword" />
<input type="hidden" id="FILTER_Active" name="FILTER_Active" value="@ViewBag.FILTER_Active" />
<input type="hidden" id="FILTER_Cancelled" name="FILTER_Cancelled" value="@ViewBag.FILTER_Cancelled" />
<input type="hidden" id="FILTER_Approved" name="FILTER_Approved" value="@ViewBag.FILTER_Approved" />
<input type="hidden" id="FILTER_HasDueAmount" name="FILTER_HasDueAmount" value="@ViewBag.FILTER_HasDueAmount" />
<input type="hidden" id="FILTER_Languages_Id" name="FILTER_Languages_Id" value="@ViewBag.FILTER_Languages_Id" />
<input type="hidden" id="FILTER_LessonTypes_Id" name="FILTER_LessonTypes_Id" value="@ViewBag.FILTER_LessonTypes_Id" />
<input type="hidden" id="FILTER_Branches_Id" name="FILTER_Branches_Id" value="@ViewBag.FILTER_Branches_Id" />
<input type="hidden" id="FILTER_chkDateFrom" name="FILTER_chkDateFrom" value="@ViewBag.FILTER_chkDateFrom" />
<input type="hidden" id="FILTER_DateFrom" name="FILTER_DateFrom" value="@ViewBag.FILTER_DateFrom" />
<input type="hidden" id="FILTER_chkDateTo" name="FILTER_chkDateTo" value="@ViewBag.FILTER_chkDateTo" />
<input type="hidden" id="FILTER_DateTo" name="FILTER_DateTo" value="@ViewBag.FILTER_DateTo" />
<input type="hidden" id="FILTER_PaymentNo" name="FILTER_PaymentNo" value="@ViewBag.FILTER_PaymentNo" />
<input type="hidden" id="FILTER_InvoiceNo" name="FILTER_InvoiceNo" value="@ViewBag.FILTER_InvoiceNo" />

<script type="text/javascript">

    $(document).ready(function () {

        setValue('returnurl', '@ViewBag.returnurl');
        setValue('FILTER_Keyword', '@ViewBag.FILTER_Keyword');
        setValue('FILTER_Active', '@ViewBag.FILTER_Active');
        setValue('FILTER_Cancelled', '@ViewBag.FILTER_Cancelled');
        setValue('FILTER_Approved', '@ViewBag.FILTER_Approved');
        setValue('FILTER_HasDueAmount', '@ViewBag.FILTER_HasDueAmount');
        setValue('FILTER_Status', '@ViewBag.FILTER_Status');
        setValue('FILTER_Languages_Id', '@ViewBag.FILTER_Languages_Id');
        setValue('FILTER_LessonTypes_Id', '@ViewBag.FILTER_LessonTypes_Id');
        setValue('FILTER_Branches_Id', '@ViewBag.FILTER_Branches_Id');
        setValue('FILTER_PaymentNo', '@ViewBag.FILTER_PaymentNo');
        setValue('FILTER_InvoiceNo', '@ViewBag.FILTER_InvoiceNo');

        setCheckboxFilter('FILTER_chkDateFrom', '@ViewBag.FILTER_chkDateFrom');
        setCheckboxFilter('FILTER_chkDateTo', '@ViewBag.FILTER_chkDateTo');

        setDaterangepickerFilter('FILTER_DateFrom', '@string.Format("{0:yyyy/MM/dd}", ViewBag.FILTER_DateFrom ?? Helper.getCurrentDateTime())');
        setDaterangepickerFilter('FILTER_DateTo', '@string.Format("{0:yyyy/MM/dd}", ViewBag.FILTER_DateTo ?? Helper.getCurrentDateTime())');
    });

    function getFilter(FILTER_Keyword, FILTER_Active, FILTER_Languages_Id, FILTER_LessonTypes_Id) {
        var filter = $('#FILTER_Keyword').val();

        if ($('#FILTER_Active') != null)
            FILTER_Active = $('#FILTER_Active').val();
        filter += appendFilter(FILTER_Active, "FILTER_Active");

        if ($('#FILTER_Cancelled') != null)
            FILTER_Cancelled = $('#FILTER_Cancelled').val();
        filter += appendFilter(FILTER_Cancelled, "FILTER_Cancelled");

        if ($('#FILTER_Approved') != null)
            FILTER_Approved = $('#FILTER_Approved').val();
        filter += appendFilter(FILTER_Approved, "FILTER_Approved");

        if ($('#FILTER_HasDueAmount') != null)
            FILTER_HasDueAmount = $('#FILTER_HasDueAmount').val();
        filter += appendFilter(FILTER_HasDueAmount, "FILTER_HasDueAmount");

        if ($('#FILTER_Status') != null)
            FILTER_Status = $('#FILTER_Status').val();
        filter += appendFilter(FILTER_Status, "FILTER_Status");

        if ($('#FILTER_Languages_Id') != null)
            FILTER_Languages_Id = $('#FILTER_Languages_Id').val();
        filter += appendFilter(FILTER_Languages_Id, "FILTER_Languages_Id");

        if ($('#FILTER_LessonTypes_Id') != null)
            FILTER_LessonTypes_Id = $('#FILTER_LessonTypes_Id').val();
        filter += appendFilter(FILTER_LessonTypes_Id, "FILTER_LessonTypes_Id");

        if ($('#FILTER_Branches_Id') != null)
            FILTER_Branches_Id = $('#FILTER_Branches_Id').val();
        filter += appendFilter(FILTER_Branches_Id, "FILTER_Branches_Id");

        if ($('#FILTER_DateFrom') != null)
            FILTER_DateFrom = $('#FILTER_DateFrom').val();
        filter += appendFilter(FILTER_DateFrom, "FILTER_DateFrom");

        if ($('#FILTER_DateTo') != null)
            FILTER_DateTo = $('#FILTER_DateTo').val();
        filter += appendFilter(FILTER_DateTo, "FILTER_DateTo");

        if ($('#FILTER_chkDateFrom') != null)
            FILTER_chkDateFrom = getCheckboxFilterValue('FILTER_chkDateFrom');
        filter += appendFilter(FILTER_chkDateFrom, "FILTER_chkDateFrom");

        if ($('#FILTER_chkDateTo') != null)
            FILTER_chkDateTo = getCheckboxFilterValue('FILTER_chkDateTo');
        filter += appendFilter(FILTER_chkDateTo, "FILTER_chkDateTo");

        return filter;
    }

</script>
