@model IEnumerable<iSpeakWebApp.Models.SuppliersModel>

@{
    iSpeakWebApp.Models.UserAccountRolesModel access = iSpeakWebApp.Controllers.UserAccountsController.getUserAccess(Session);
    string ControllerName = "Suppliers";
    ViewBag.SelectedNavigationMenu = "Settings";
    ViewBag.Title = "SUPPLIERS";
    ViewBag.Subtitle = "Index";
}

<div class="content-wrapper">
    <!-- Content area -->
    <div class="content">
        @using (Html.BeginForm("Index", ControllerName, FormMethod.Post))
        {
            <!-- Form inputs -->
            <div class="card animated bounceInLeft">
                <div class="card-header header-elements-inline pb-1">
                    <h5 class="card-title text-uppercase">@ViewBag.Title</h5>
                </div>
                <div class="card-body">

                    <div class="row mx-0">
                        @if (access.Suppliers_Add)
                        {
                            <div class="mr-2">
                                <label class="mb-0">&nbsp;</label>
                                <div><a href="javascript:void(0)" onclick="Action('Create', '@ControllerName')" class="btn btn-success">CREATE<i class="icon-plus22 ml-2"></i></a></div>
                            </div>
                        }
                        <div class="row ml-0 mr-2" style="width:100px;">
                            <label class="mb-0">Keyword</label>
                            <div class="input-group">
                                <input type="text" name="FILTER_Keyword" id="FILTER_Keyword" class="form-control" />
                            </div>
                        </div>

                        <div class="row ml-0 mr-2">
                            <label class="mb-0">Active</label>
                            <div class="input-group">
                                <select id="FILTER_Active" name="FILTER_Active" class="custom-select">
                                    <option value="" selected>ALL</option>
                                    <option value="1">Active</option>
                                    <option value="0">Not Active</option>
                                </select>
                            </div>
                        </div>
                        <div class="ml-0 mr-2">
                            <label class="mb-0">&nbsp;</label>
                            <button type="submit" onclick="showLoadingSpinner()" class="btn btn-outline-primary form-control"><i class="icon-reload-alt mr-2"></i>LOAD</button>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover datatable">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                                    <th>@Html.DisplayNameFor(model => model.Notes)</th>
                                    <th class="non-searchable non-sortable" style="width:130px;"></th>
                                    <th class="non-searchable non-sortable" style="width:100px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                    <tr>
                                        <td class="align-top">@Html.DisplayFor(modelItem => item.Name)</td>
                                        <td class="align-top tablecellwrap">@Html.DisplayFor(modelItem => item.Notes)</td>
                                        <td>
                                            <div class="row">
                                                @if (item.Active)
                                                {
                                                    <div><span class="badge badge-success d-block mr-1" style="width:100px;">ACTIVE</span></div>
                                                }
                                                else
                                                {
                                                    <div><span class="badge badge-dark d-block mr-1" style="width:100px;">NOT ACTIVE</span></div>
                                                }
                                            </div>
                                        </td>
                                        <td>
                                            @if (access.Suppliers_Edit)
                                            {
                                                <a href="javascript:void(0)" onclick="ActionWithId('@item.Id', 'Edit', '@ControllerName')">Edit</a>@:•
                                            }
                                            <a href="javascript:void(0)" onclick="Log('@item.Id')">Log</a>

                                        </td>
                                    </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /form inputs -->
        }
    </div>
    <!-- /content area -->
</div>
